<div class="container">
  <div class="products">
    <div class="product" *ngFor="let product of products; trackBy: trackByFn; let i = index">
      <div class="img">
        <img src="../../../../favicon.ico" alt="" />
      </div>

      <div class="description">
        <span>{{ product.name }}</span> <br>
        <span>{{ product.price }} грн.</span>
      </div>

      <div class="add-pr">
        <add-product [index]="i" [name]="product.name" [price]="product.price" [count]="product.count"></add-product>
      </div>
    </div>
  </div>

</div>
