<div class="top-banner" style="margin-top: 10px">
  <div class="logo">
    <img routerLink="/" src="../../../../../favicon.ico" alt="" />
    <div routerLink="/">Аптека</div>
  </div>

  <div class="find">
    <div class="btn-group" dropdown>
      <button id="button-animated" dropdownToggle type="button" class="btn dropdown-toggle btn-color dropdown-width"
              aria-controls="dropdown-animated">
        {{ filter }} <span class="caret"></span>
      </button>
      <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu dropdown-width" role="menu" aria-labelledby="button-animated">
        <li role="menuitem" ngDefaultControl *ngFor="let f of filters" [(ngModel)]="filter" (click)="setTitle(f)">
          <a class="dropdown-item">{{ f }}</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="help">
    <a>Как оформить заказ?</a> <br>
    <a>Что такое "Ваша аптека"?</a>
  </div>
</div>

<nav class="header">
  <div class="header-body">
    <div class="header-section"></div>
    <div class="header-section">
      <div class="header-title">Категории товаров</div>
      <div class="categories">
        <div *ngFor="let category of kategories" class="categories-item">
          {{ category }}
        </div>
      </div>
    </div>
    <div class="header-section">
      <div class="header-title">Дополнительно</div>
      <div class="categories">
        <div *ngFor="let add of additional" class="categories-item">
          {{ add }}
        </div>
      </div>
    </div>
    <div class="header-section" style="text-align: left">
      <div class="header-title" style="margin-left: -35px">Акции</div>
    </div>
    <div class="header-section"></div>
    <div class="header-section">
      <div class="header-title" routerLink="login">Войти</div>
      <div class="header-title" routerLink="register" style="margin-left: 20px">Зарегистрироваться</div>
    </div>
  </div>
</nav>
